@charset "utf-8";
body {
	background-color: #A1A1A1;
	background-image: url(../images/bkgd.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	height: 0%;
	margin: 0;
	height: 100%;
}
h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1em;
	height: 1em;
	text-align: center;
	color: rgba(255,255,255,1.00);
	text-shadow: 4px 7px 16px #000000;
}
h2 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
}
footer {
	font-size: small;
	text-align: center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 54px;
	width: 100%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	padding-top: 30px;
	/* [disabled]float: left; */
}






header {
	margin-top: 70px;

}

.asideLeft {
	width: 28%;
	float: left;
	margin-right: 1%;
	margin-left: 5%;
	margin-top: 30px;
}
.sectionRight {
	width: 55%;
	float: right;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-radius: 25px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(167,167,167,0.97) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(167,167,167,0.97) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(167,167,167,0.97) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(167,167,167,0.97) 100%);
}

nav {
	background-color: hsla(0,0%,95%,1.00);
}

.navlist {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
.navlistitem {
	/*float: left;*/
}
.navlistitem a {
	text-decoration: none;
	display: block;
	padding-top: 14px;
	padding-left: 16px;
	padding-right: 16px;
	color: hsla(0,0%,59%,1.00);
	padding-bottom: 14px;
}
.navlistitem a:hover {
	color: hsla(0,0%,0%,1.00);
	background-color: hsla(174,27%,37%,1.00);
	
}
.container-fluid .navbar-header .navbar-brand {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	color: #558678;
}
.formStyle {
	width: 100%;
}


@media (max-width: 650px){
.asideLeft {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
}
.sectionRight {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 7px;
	margin-left: 5%;
	margin-bottom: 144px;
	height: 80%;
	padding-top: 7px;
	padding-bottom: 12px;
	bottom: 0px;
}
body {
	background-color: #486D67;
	background-image: url();
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	height: 0%;
	height: 100%;
	margin-top: 4px;
	margin-bottom: 100px;
}
h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2.4em;
	line-height: 1em;
	height: 1em;
	text-align: center;
}
header {
	margin-top: 30px;
}
p {
	font-size: medium;
	margin-bottom: 100px;
}


}
